/* * {
  box-sizing: border-box;
  margin: 0;
  float: clear;
} */

body {
  /* margin: 5% 25%;
  text-align: center;
  background: transparent; */
  background: url(../../components/Img/ocean.png);

}

img {
  height: 50px;
  margin-bottom: 0px;
}

.btn {
  display: block;
  margin: 5px 5px 5px 5px;
}

.link-box {
  /* background: lightblue; */
  color: black;
  font-size: 14px;
  text-decoration: none;
  margin: 5px 5px 5px 5px;
}

