* { 
  box-sizing: border-box;
  margin: 0;
}

.img {
  max-width: 300px;
  margin-bottom: 0px;
}


body {
  /* margin: 5% 25%; */
  text-align: center;
  background: url(../../components/Img/scene.png);
  background-position: center;
  background-size: 200%;
  background-repeat: no-repeat;
}

h5 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
 margin: 5px 10% 25px 10%;
}

h6 {
  color: white;
  font-size: 1.0rem;
  font-weight: 100;
 margin: 5px 10% 25px 10%;
}

.btn {
  display: block;
  background-color: #eeeeee;
  align-content: center;
  color: #555555;
  align-content: center;
  align-items: center;
  margin: 10px auto;
  border: 2px solid #ffffff;
  width: 150px;
}
