* { 
  box-sizing: border-box;
  margin: 0;
}

body {
  /* margin: 5% 25%; */
  text-align: center;
  background: url(../../components/Img/city.png);
}

img {
  margin-bottom: 50px;
}
h5 {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
 margin: 5px 10% 25px 10%;
}

h6 {
  color: white;
  font-size: 1.0rem;
  font-weight: 100;
 margin: 5px 10% 25px 10%;
}

.btn {
  display: block;
  align-content: center;
  color: white;
  align-content: center;
  align-items: center;
  margin: 10px auto;
  border: 2px solid white;
  width: 150px;
}
