input[type=checkbox]{
  float: right;
  margin: 5px;
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}
.item_name{
  float: left;
}
ul {
  list-style-type: none;
}
