

input[type=checkbox]{
  float: right;
  margin: 5px;

  padding: 10px;
}



h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.0rem;
}

p {
  font-size: 1.25rem;
  margin: auto;
  display: inline-block;
  color: #557788;
  float: left;
}

.item_name{
  color: lightgray;
  float: left;
}

ul {
  list-style-type: none;
}

.list-group-item {
  background-color: rgba(255,255,255,.5)
}
